body{
    color: cadetblue;
    background-color:wheat;
}


.Header{
    color:blue;
    background-color: wheat;
}


.Subtitles{
    font-family: Franklin Gothic Medium;
    color:gold;
    background-color:gray;
}

#IMG_Type{
    max-width: 400px;   
    max-height: 250px;  
    width: auto;        
    height: auto;       
}